html{
	background: url("materials/okinimesumama_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

body{
	font-family:'Noto Sans JP', sans-serif;
}
.en{
	font-family: 'Federo', sans-serif;
}
header{
	margin-top:50px;
	text-align:center;
}
.title{
	margin-bottom:0px;
	text-align:center;
}
.subt{
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}
.subp{
	margin-top:0px;
	text-align:center;
}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}
a:link{
	color:#61c29e;
	text-decoration: none;
}
a:visited{
	color:#61c29e;
	text-decoration: none;
}
a:hover{
	color:#238a78;
	text-decoration: none;
}
.column{
	object-fit:fill;
	float:left;
	width:50%;
}
.cover{
	width:300px;
	height:auto;
}
.row{
	min-width:500px;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:100px;
	background-color:white;
	border-radius:10px;
	opacity: 0.7;
	padding:20px;
}
.row:after{
	content: "";
	display:table;
	clear:both;
}
span.chorus{
	color:#e95263;
}
span.chorus2{
	color:#f4763d;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}